body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', serif;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse,
    body.internas .top-nav-collapse.navbar {
        padding: 0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.navbar-transparent a {
    color: #fff;
}
#carousel-header img {
    margin: 15px auto;
    opacity: .8;
}
#carousel-header h3 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
#carousel-header h1 {
    font-size: 4vw;
    text-transform: uppercase;

    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
#carousel-header h2 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
#carousel-header h2 span {
    display: inline-block;
}
#carousel-header .carousel-caption {
    bottom: initial;
    top: 200px;
}
.detalhe-hr {
    width: 50px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin: 15px;
    position: relative;
    top: 5px;
}
.frase-section {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-image: url('./../img/bg-frase-solta.jpg');
    position: relative;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
.bg-metade {
    height: 500px;
    background-position: center;
    background-size: cover;
}
.quem-sou-content {
    padding: 50px;
}
.contato {
    padding: 55px 70px;
}
.quem-sou-content h2,
.contato h2,
.services-section h2,
.trabalhos-section h2 {
    position: relative;
    margin-bottom: 50px;
}
.quem-sou-content h2:before,
.contato h2:before,
.services-section h2:before,
.trabalhos-section h2:before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #222;
    position: absolute;
    bottom: -15px;
}
.quem-sou-content p {
    font-size: 16px;
}
.services-section .col-lg-3 {
    padding: 5px;
}
.btn-primary {
    color: #fff!important;
    background-color: #ed97c2;
    border-color: transparent;
}
.to-top {
    color: #fff;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    font-size: 18px;
    height: 40px;
    border-radius: 100%;
    background-color: #ed97c2;
    line-height: 40px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.to-top:focus,
.to-top:hover {
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-brand {
    height: 125px;
}
.top-nav-collapse .navbar-brand,
body.internas .top-nav-collapse .navbar-brand {
    height: 100px;
}
.navbar-brand img {
    max-height: 100%;
    height: 100%;
}
.nav>li>a {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: solid thin transparent;
}
.top-nav-collapse .nav>li>a,
body.internas .nav>li>a {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #7f7f7f;
}
body.internas .nav>li>a.btn-default {
  border-bottom-color: #7f7f7f;
  border-color: #adadad
}
.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a.active {
    background-color: transparent;
    border-bottom-color: #fff;
}
body.internas .nav>li>a:focus,
body.internas .nav>li>a:hover,
body.internas .nav>li>a.active {
    background-color: transparent;
    border-bottom-color: #7f7f7f;
}

.transition {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.top-nav-collapse .nav>li>a:focus,
.top-nav-collapse .nav>li>a:hover {
    border-bottom-color: #7f7f7f;
}
#socials-links {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 999;
}
#socials-links ul {
    margin: 0;
    padding: 0;
}
#socials-links li {
    margin: 15px;
    list-style: none;
    text-align: center;
}
#socials-links li a i{
    font-size: 18px;
    width: 35px;
    line-height: 35px;
    height: 35px;
    background-color: #c0f3f9;
    border-radius: 100%;
    color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.bg-metade .infos-contatos {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.bg-metade .infos-contatos li {
    color: #fff;
    font-size: 2vw;
}
.contact-section .bg-metade {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-section .bg-metade img {
    margin: auto;
    opacity: .8;
}
.btn-default {
    color: #fff;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.3);
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #fff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #ea88b9!important;
  color: #fff!important;
  border-color: transparent!important;
}
.btn i {
    margin: 2.5px 15px;
    float: right;
}
.btn {
    border-radius: 100px;
}
.services-section {
    padding: 50px 0;
}
.nav.navbar-right>li>a {
    margin-left: 7.5px;
}
.top-nav-collapse .nav>li>a.btn-primary,
.top-nav-collapse .nav>li>a.btn-primary:hover,
.top-nav-collapse .nav>li>a.btn-primary:focus,
.top-nav-collapse .nav>li>a.btn-primary:visited {
    color: #fff!important;
}
footer {
    padding-top: 50px;
}
.pre-footer {
    background-color: #222;
    margin: 25px -15px 0 -15px;
    padding: 15px 0;
}
.pre-footer .col-lg-8,
.pre-footer .col-lg-4 {
    padding: 0;
}
footer .list-group-item {
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}
footer * {
    color: #7f7f7f;
}
footer .list-group-item i {
    margin-right: 10px;
    margin-top: 5px;
}
footer h4 {
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
footer h4:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    left: 0
}
body.internas {
    padding-top: 166px;
}
.top-nav-collapse .nav>li>a.active {
    border-bottom-color: #7f7f7f;
}
.action-bottom {
    margin-top: 30px;
}
.grayscale {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.logo-footer {
    max-height: 1.45em;
}
.grayscale:hover {
    filter: initial;
    -webkit-filter: initial;
}
#carousel-citacoes {
    color: #fff;
}
#carousel-citacoes .carousel-control {
    background-image: none;
}
#carousel-citacoes .carousel-indicators {
    position: static;
    bottom: initial;
    margin: auto;
}
#carousel-citacoes .item h4 * {
    color: #fff!important;
    margin-bottom: 30px;
    margin-top: 15px;
    line-height: 1.6em;
}
#carousel-citacoes .item h2 {
    font-size: 3em;
}
#frase:before,
#frase:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 8vw;
    position: absolute;
    color: rgba(255,255,255,.3);
}
#frase:before {
    content: "\f10d";
    left: 8vw;
    top: 0;
}
#frase:after {
    content: "\f10e";
    right: 8vw;
    bottom: 0;
}
/* cards */

.card *:hover{
    text-decoration: none;
}

.card .thumbnail{
    padding: 0;
    border: none;
    text-align: center;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card .thumbnail .caption{
    margin: -20px 20px 20px 20px;
    padding: 19px 29px 19px 29px;
    position: relative;
    background-color: white;
}
.card .thumbnail .caption .limiter {
  overflow-y: hidden;
  height: 95px;
  position: relative;
}
.card .thumbnail .caption .limiter:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  left: 0;
  background: rgba(255,255,255,.8);
}
.thumbnail .caption a {
  color: #222;
}

.thumbnail .caption a p {
  color: #666;
}

.card .thumbnail .caption h3 small{
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    display: block;
    padding: 5px;
}

.card .thumbnail .caption h3{
    font-weight: bold;
    margin-top: 0;
    color: #222 !important;
    font-size: 24px !important;
    font-weight: 700;
}

.card .thumbnail .caption hr{
    border-top: 1px solid #333;
    margin: 20px 40px;
}

.card .thumbnail .caption p{
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}

.card .thumbnail .caption button{
    color: #aaa;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.card .thumbnail .caption button:hover{
    background-color: black;
    border-color: black;
    color: white;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#servicos .thumbnail header {
    max-height: 200px;
    overflow-y: hidden;
}
.top-nav-collapse .nav>li>a.btn-default {
    border-bottom-color: #7f7f7f;
    border-color: #adadad;
}
.card-trabalhos {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.trabalhos-section {
    padding: 75px 0;
}
.trabalhos-section .card-trabalhos {
    margin: 25px 0;
}

.trabalhos-section .card-trabalhos header {
    position: relative;
}

.trabalhos-section .card-trabalhos header .date-trabalho {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.9);
    text-align: center;
    padding: 7.5px;
    font-size: 18px;
}
.trabalhos-section .card-trabalhos header .date-trabalho strong {
    font-size: 24px;
}
.text-black {
    color: #777!important;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 350px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: .6;
}
.post-module .thumbnail {
  height: 350px;
  overflow: hidden;padding: 0;
}
.post-module .thumbnail .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #ed97c2;
  width: auto;
  height: auto;
  padding: 6px 16px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #FFFFFF;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.post-module .thumbnail .date:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post-module .thumbnail .date a:hover {
    text-decoration: none;
}
.post-module .thumbnail .date .day {
 font-size: 18px;
    line-height: 31px;
    color: #fff;
}
.post-module .thumbnail .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .thumbnail img {
  display: block;
  width: 120%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
    padding: 0 30px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #5acbd8;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #222 !important;
  font-size: 24px !important;
  font-weight: 700;    margin: 40px 0 0 !important;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #f2b202;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 0px 0px 10px;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.container .column {
    width: 100%;
    margin: 15px auto;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.container .column .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.container .info span {
  color: #666666;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #f2b202;
}
body.internas .trabalhos-section,
body.internas .services-section {
  padding: 0;
}
#album-uniq header,
#servico-uniq header {
  height: 350px;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding-top: 50px;
}
#album-uniq header h1 {
  font-size: 4em;
  margin-top: 1em;
  color: rgba(255,255,255,.8)
}
#servico-uniq header h1 {
  font-size: 8em;
  color: rgba(255,255,255,.8);
  position: relative;
}
#servico-uniq header h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 150px;
  height: 1px;
  left: 0;
  background-color: rgba(255,255,255,.6);
}
*::selection {
  background: #c0f3f9;
  color: #fff;
}
*::-moz-selection {
  background: #c0f3f9;
  color: #fff;
}
*::-webkit-selection {
  background: #c0f3f9;
  color: #fff;
}
.caminho-internas .breadcrumb-item {
  color: #ed97c2;
  padding: 6px 0;
  font-size: 16px;
}
.caminho-internas .breadcrumb-item.active {
  color: #999;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #999;
  content: "/";
  margin: 6px auto;
}
.caminho-internas .btn-primary.pull-right i {
  margin-left: 0;
  margin-right: .6em;
}
#servico-uniq article p {
  font-size: 1.2em;
  line-height: 1.8em;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: transparent;
}
a.thumbnail {
  margin-bottom: 0;
}
a.thumbnail:before {
  content: "\f00e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  height: 100%;
  width: calc(100% - 30px);
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  padding-top: 25%;
  margin-left: 15px;
  border-radius: 4px;

  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a.thumbnail:hover:before {
  opacity: 1;
}
/* The Modal (background) */
#modal-galeria-fotos {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
#modal-galeria-fotos .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 9999999999;
}

#modal-galeria-fotos .close:hover,
#modal-galeria-fotos .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#modal-galeria-fotos .carousel-indicators {
  bottom: 0;
}
footer a:hover {
  text-decoration: none;
  color: #ed97c2;
}
.form-control:focus {
    border-color: #ea88b9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(234, 136, 185);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(234, 136, 185);
}
.trabalhos-section a:focus {
  outline: none;
  text-decoration: none;
}
#modal-galeria-fotos .carousel-inner {
  width: 90%;
  margin: auto;
}
.frase-section .btn:hover {
  background-color: rgba(255,255,255,.3);
}
.services-section .card .thumbnail {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.services-section .card .thumbnail:hover {
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

/*MOBILE*/
@media (max-width: 767px) {
  #socials-links {
    display: none;
  }
  .navbar-brand {
    height: 100px;
  }
  .navbar-toggle {
    border-color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .top-nav-collapse {
    background-color: #fff;
  }
  .top-nav-collapse .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 70px;
  }
  .top-nav-collapse .navbar-toggle {
    margin-top: 17.5px;
    margin-bottom: 17.5px;
  }

  .top-nav-collapse .icon-bar {
    background-color: #777;
  }
  .top-nav-collapse .navbar-toggle {
    border-color: #777;
  }

  .navbar-collapse.navbar-ex1-collapse {
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .nav>li>a {
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav>li>a.active {
    background-color: transparent;
    border-bottom-color: #777;
    color: #777;
  }
  #carousel-header .carousel-caption {
    top: 25%;
  }
  #carousel-header h1 {
    font-size: 36px;
  }
  .detalhe-hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bg-metade {
    height: 250px;
  }
  body.internas .icon-bar {
    background-color: #777;
  }
  body.internas .navbar-toggle {
    border-color: #777;
  }
  body.internas .top-nav-collapse .navbar-brand {
    padding: 5px 20px;
    height: 65px;
  }
  body.internas .top-nav-collapse {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  body.internas {
    padding-top: 100px;
  }
  #album-uniq header h1 {
    margin-top: 0;
    font-size: 3em;
  }
  #album-uniq header h3 {
    font-size: 16px;
  }
  .frase-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contato {
    padding: 25px;
  }
  .contact-section .bg-metade {
    padding: 25px;
  }
  .bg-metade .infos-contatos li {
    font-size: 18px;
  }
  .list-group-item { word-wrap: break-word; }
  
  .fill,
  #album-uniq header, 
  #servico-uniq header {
    background-attachment: initial;
    background-position: center!important;
  }
  #album-uniq header, 
  #servico-uniq header {
    padding-top: 0;
  }
}
/*TABLET*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-toggle {
      border-color: #fff;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .top-nav-collapse {
      background-color: #fff;
    }
}
.lazy-load {
    background: url("http://www.mozart.it/images/preloader.gif") center center no-repeat;
}