body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', serif;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.navbar-transparent a {
    color: #fff;
}
#carousel-header img {
    margin: auto;
}
#carousel-header h3 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
#carousel-header h1 {
    font-size: 4vw;
    text-transform: uppercase;

    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
#carousel-header h2 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
#carousel-header h2 span {
    display: inline-block;
}
#carousel-header .carousel-caption {
    bottom: initial;
    top: 200px;
}
.detalhe-hr {
    width: 50px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    margin: 15px;
    position: relative;
    top: 5px;
}
.frase-section {
    height: 400px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-attachment: fixed; */
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.6)), url('./../img/bg-frase-solta.jpg');
    position: relative;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /* background-attachment: fixed; */
}
.bg-metade {
    height: 500px;
    background-position: center;
    background-size: cover;
}
.quem-sou-content,
.contato {
    padding: 55px;
}
.quem-sou-content h2,
.contato h2,
.services-section h2 {
    position: relative;
    margin-bottom: 45px;
}
.quem-sou-content h2:before,
.contato h2:before,
.services-section h2:before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #222;
    position: absolute;
    bottom: -15px;
}
.quem-sou-content p {
    font-size: 16px;
}
.services-section .col-lg-3 {
    padding: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #ed97c2;
    border-color: #b496a5;
}
footer {
    background-color: #333;
}
footer .to-top {
    font-size: 28px;
    color: #fff;
    float: left;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
footer h5 {
    color: rgba(255,255,255,.8);
    margin-top: 45px;
}
footer h5 a {
    color: #fff;
}
.navbar-brand {
    height: 125px;
}
.top-nav-collapse .navbar-brand {
    height: 100px;
}
.navbar-brand img {
    max-height: 100%;
    height: 100%;
}
.nav>li>a {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: solid 2px transparent;
}
.top-nav-collapse .nav>li>a {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #7f7f7f;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    border-bottom-color: #fff;
}
.transition {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.top-nav-collapse .nav>li>a:focus,
.top-nav-collapse .nav>li>a:hover {
    border-bottom-color: #7f7f7f;
}
#socials-links {
    /* position: fixed; */
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 999;
}
#socials-links ul {
    margin: 0;
    padding: 0;
}
#socials-links li {
    margin: 15px;
    list-style: none;
    text-align: center;
}
#socials-links li a i{
    font-size: 18px;
    width: 30px;
    line-height: 30px;
    height: 30px;
    background-color: #c0f3f9;
    border-radius: 100%;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.bg-metade .infos-contatos {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.bg-metade .infos-contatos li {
    color: #fff;
    font-size: 2vw;
}
.contact-section .bg-metade {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-section .bg-metade img {
    margin: auto;
}
.btn-default {
    color: #fff;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.3);
}
.btn i {
    margin: 5px 15px;
    float: right;
}
.btn {
    border-radius: 100px;
}
.services-section {
    padding: 50px 5px 5px 5px;
}
.top-nav-collapse .nav>li>a.btn,
.top-nav-collapse .nav>li>a.btn:hover,
.top-nav-collapse .nav>li>a.btn:focus,
.top-nav-collapse .nav>li>a.btn:visited {
    color: #fff!important;
}
.pre-footer {
    background-color: #222;
    margin: 50px -15px 0 -15px;
    padding: 15px 0;
}
.pre-footer .col-lg-8,
.pre-footer .col-lg-4 {
    padding: 0;
}
footer .list-group-item {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}
footer * {
    color: #fff!important;
}
footer .list-group-item i {
    margin-right: 10px;
    margin-top: 5px;
}
footer h4 {
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
footer h4:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    left: 0
}