
<IfModule mod_rewrite.c>
	
	ErrorDocument 404 /paginas/404.php

    RewriteEngine On


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . index.php [L]
</IfModule>

<FilesMatch "\.(gif|jpg|png|css|js|pdf|txt)">
    FileETag All
</FilesMatch>